body {
	font-family: "Noto Sans";
	width: 60%;
	margin: auto;
	background: #282C34;
	color: #abb2bf;
}

#postamble {
		margin-top: 30px;
		border-top: thick solid #343843;
		padding: 30px 0;
}

.small {font-size: 0.8rem}
h1 + div > .small p { margin-top: 0 }
h2 + div > .small p { margin-top: 0 }
h3 + div > .small p { margin-top: 0 }
h4 + div > .small p { margin-top: 0 }
h5 + div > .small p { margin-top: 0 }

a { color: #61afef; }
h1 { color: #61afef; }
h2 { color: #56b6c2; }
h3 { color: #98c379; margin-bottom: 5px; }
h4 { color: #d19a66; }
h5 { color: #e06c75; }
h6 { color: #c678dd; }
h1 a { color: #61afef; }
h2 a { color: #56b6c2; }
h3 a { color: #98c379; }
h4 a { color: #d19a66; }
h5 a { color: #e06c75; }
h6 a { color: #c678dd; }

.title { color: #61afef; }

pre.src {
	border: none;
	border-top: 12px solid #343843;
	border-bottom: 12px solid #343843;
	box-shadow: none;
	font-size: 1.2rem;
	padding: 1rem;
	margin-left: 0;
}

code {
	font-size: 1rem;
	color: #d19a66;
}

.validation { display: none; }

tbody tr td:not(:first-child):not(:last-child) {
		border-left: thin solid #abb2bf;
		border-right: thin solid #abb2bf;
		padding: 0 15px;
}

.outline-2 > .outline-text-2 > .org-center {
	display: none;
}
